<div ng-controller="PaymentController">

    <form name="form" novalidate>

        <div class="dropdown pull-right spacer-r10" uib-dropdown ng-if="settings.app.enable_languages">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" uib-dropdown-toggle>
                <i class="fa fa-globe"></i> <span class="pointer">{{language}}</span> <i class="caret"></i>
            </button>
            <ul class="dropdown-menu" language-select as-dropdown></ul>
        </div>

        <div class="row"></div>

        <div class="page-header">
            <h1 translate>Review Your Payment</h1>
        </div>

        <div class="alert alert-danger" ng-if="data.error">
            {{data.error.message}}
        </div>

        <!-- For certain payment error types, present an option to retry the payment -->
        <div class="alert alert-info" ng-show="data.error.meta.payment.payment_method.type == 'paypal'">
            <i class="fa fa-external-link"></i> <a ng-href="{{data.error.meta.payment.response_data.redirect_url}}"><strong translate>Return to PayPal to try your payment again.</strong></a>
        </div>

        <table class="cart">
            <thead>
                <tr>
                    <th ng-show="settings.app.show_reference" translate>{{ settings.app.reference_label || ('Reference' | translate)}}</th>
                    <th style="min-width:250px" ng-show="settings.app.show_description" translate>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="{{ settings.app.reference_label || ('Reference' | translate)}}" show-errors ng-show="settings.app.show_reference">
                        <div class="form-group has-input" ng-show="!data.paymentOrig.reference">
                            <input type="text" name="reference" ng-model="data.payment.reference" class="form-control" maxlength="75" ng-required="settings.app.reference_required" />
                            <p class="error-block hidden" translate>Please provide a value</p>
                        </div>
                        <div class="form-group has-input" ng-show="data.paymentOrig.reference">
                            <span>{{data.paymentOrig.reference}}</span>
                        </div>
                    </td>
                    <td style="min-width:250px" data-label="{{ 'Description' | translate}}" ng-show="settings.app.show_description">
                        <div class="form-group has-input" ng-show="!data.paymentOrig.description">
                            <input type="text" name="description" ng-model="data.payment.description" class="form-control" maxlength="255" />
                        </div>
                        <div class="form-group has-input" ng-show="data.paymentOrig.description">
                            <span>{{data.paymentOrig.description}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="col-xs-12 col-sm-6 spacer-b20">
            <span><strong translate>Billing Address</strong><br /></span>
            <span ng-if="data.payment.customer.company_name">{{data.payment.customer.company_name}}<br /></span>
            <span ng-if="data.payment.customer.name">{{data.payment.customer.name}}<br /></span>
            <span ng-if="data.payment.customer.billing_address.address_1">{{data.payment.customer.billing_address.address_1}}<br /></span>
            <span ng-if="data.payment.customer.billing_address.address_2">{{data.payment.customer.billing_address.address_2}}<br /></span>
            <span ng-if="data.payment.customer.billing_address.city">{{data.payment.customer.billing_address.city}}</span>
            <span ng-if="data.payment.customer.billing_address.state_prov">{{data.payment.customer.billing_address.state_prov}}</span>
            <span ng-if="data.payment.customer.billing_address.postal_code">{{data.payment.customer.billing_address.postal_code}}</span><br />
            <span ng-if="data.payment.customer.billing_address.country">{{data.payment.customer.billing_address.formatted.country}}<br /></span>
            <span ng-if="data.payment.customer.email">{{data.payment.customer.email}}</span>
        </div>

        <div class="col-xs-12 col-md-6 spacer-b20" ng-if="data.payment.customer.shipping_address.address_1">
            <span><strong translate>Shipping Address</strong><br /></span>
            <span ng-if="data.payment.customer.shipping_address.name">{{data.payment.customer.shipping_address.name}}<br /></span>
            <span ng-if="data.payment.customer.shipping_address.address_1">{{data.payment.customer.shipping_address.address_1}}<br /></span>
            <span ng-if="data.payment.customer.shipping_address.address_2">{{data.payment.customer.shipping_address.address_2}}<br /></span>
            <span ng-if="data.payment.customer.shipping_address.city || data.payment.customer.shipping_address.state_prov || data.payment.customer.shipping_address.postal_code">{{data.payment.customer.shipping_address.city}} {{data.payment.customer.shipping_address.state_prov}} {{data.payment.customer.shipping_address.postal_code}}<br /></span>
            <span ng-if="data.payment.customer.shipping_address.country">{{data.payment.customer.shipping_address.formatted.country}}<br /></span>
        </div>

        <div class="row"></div>

        <!-- Custom fields -->
        <fields fieldlist="settings.app.fields" sale="data.payment" ng-if="options.isCartPayment"></fields>

        <div class="row"></div>

        <div class="section-header">
            <span translate>Review & Finish</span>
        </div>

        <table class="tight cart" ng-if="(settings.app.show_reference || settings.app.show_description) && (data.payment.reference || data.payment.description)">
            <thead>
                <tr>
                    <th ng-if="settings.app.show_reference" translate>{{ settings.app.reference_label || ('Reference' | translate)}}</th>
                    <th ng-if="settings.app.show_description" translate>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-if="settings.app.show_reference" data-label="{{ settings.app.reference_label || ('Reference' | translate)}}">
                        <span>{{data.payment.reference}}</span>
                    </td>
                    <td ng-if="settings.app.show_description" data-label="{{ 'Description' | translate}}">
                        <span>{{data.payment.description}}</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="tight cart">
            <tbody>
                <tr ng-show="data.payment.subtotal != data.payment.total">
                    <td class="text-left hidden-xs" translate>Subtotal</td>
                    <td class="text-right" data-label="{{ 'Subtotal' | translate}}"><span class="has-price">{{data.payment.formatted.subtotal}}</span></td>
                </tr>
            </tbody>
            <tbody ng-show="data.payment.shipping">
                <tr>
                    <td class="text-left hidden-xs" translate>Shipping</td>
                    <td class="text-right" data-label="{{ 'Shipping' | translate}}"><span class="has-price">{{data.payment.formatted.shipping}}</span></td>
                </tr>
            </tbody>
            <tbody ng-show="data.payment.tax">
                <tr>
                    <td class="text-left hidden-xs" translate>Tax</td>
                    <td class="text-right" data-label="{{ 'Tax' | translate}}"><span class="has-price">{{data.payment.formatted.tax}}</span></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="text-left text-lg hidden-xs"><strong translate>Total</strong></td>
                    <td class="text-right text-lg" data-label="{{ 'Total' | translate}}"><span class="text-lg has-price">{{data.payment.formatted.total}} {{data.payment.currency}}</span></td>
                </tr>
            </tbody>
        </table>

        <div class="col-xs-12 spacer-b20 spacer-t20 text-right">
            <button type="button" class="btn btn-success btn-lg right" validate-on-submit commit-payment="data.payment_id" on-submit="onPaymentSubmit" on-success="onPaymentSuccess" error="data.error" translate>Complete Payment</button>
        </div>

        <!--Spacer-->
        <div class="row">&nbsp;</div>

    </form>

</div>